.custom-table {
  border: 1px solid black;
  border-collapse: collapse;
}
  
.custom-table th,
.custom-table td {
  border: 1px solid black;
  padding: 8px;
}

.custom-button {
  background-color: #FCA311;
  color: #000000;
}