.custom-table {
  border: 1px solid black;
  border-collapse: collapse;
}
  
.custom-table th,
.custom-table td {
  border: 1px solid black;
  padding: 8px;
}

.custom-link {
  color: #FCA311;
  font-weight: bold; 
  font-size: 1em;
  text-decoration: underline;
}

.custom-link:hover {
  color: #E5E5E5;
}

/* Botón de la barra de búsqueda*/
.custom-button {
  background-color: #FCA311;
  color: #000000;
}  
.custom-button:hover {
  background-color: #E5E5E5;
  color: #000000;
}
.custom-button:focus {
  background-color: #E5E5E5;
  color: #000000;
}

/* Botón de enviar del formulario */
.custom-button2 {
  background-color: #FCA311;
  color: #000000;
}
.custom-button2:hover {
  background-color: #14213D;
  color: #FFFFFF;
}
.custom-button2:focus {
  background-color: #14213D;
  color: #FFFFFF;
}